/* ==========================================================================
	Distances (between elements in list)
	========================================================================== */

/* Left
========================================================================== */
.-dl4 {
    & > * {
        & + * {
            margin-left: 4px;
        }
    }
}
.-dl8 {
    & > * {
        & + * {
            margin-left: 8px;
        }
    }
}
.-dl12 {
    & > * {
        & + * {
            margin-left: 12px;
        }
    }
}
.-dl16 {
    & > * {
        & + * {
            margin-left: 16px;
        }
    }
}
.-dl24 {
    & > * {
        & + * {
            margin-left: 24px;
        }
    }
}
.-dl30 {
    & > * {
        & + * {
            margin-left: 30px;
        }
    }
}
.-dl40 {
    & > * {
        & + * {
            margin-left: 40px;
        }
    }
}
.-dl48 {
    & > * {
        & + * {
            margin-left: 48px;
        }
    }
}
.-dl56 {
    & > * {
        & + * {
            margin-left: 56px;
        }
    }
}
.-dl60 {
    & > * {
        & + * {
            margin-left: 60px;
        }
    }
}
.-dl104 {
    & > * {
        & + * {
            margin-left: 104px;
        }
    }
}

/* Left - xl 
========================================================================== */

.-dl36xl {
    & > * {
        & + * {
            @include respond-below(xl) {
                margin-left: 36px;
            }
        }
    }
}

/* Left - lg 
========================================================================== */

.-dl50lg {
    & > * {
        & + * {
            @include respond-below(lg) {
                margin-left: 50px;
            }
        }
    }
}
.-dl30lg {
    & > * {
        & + * {
            @include respond-below(lg) {
                margin-left: 30px;
            }
        }
    }
}
.-dl18lg {
    & > * {
        & + * {
            @include respond-below(lg) {
                margin-left: 18px;
            }
        }
    }
}
.-dl12lg {
    & > * {
        & + * {
            @include respond-below(lg) {
                margin-left: 12px;
            }
        }
    }
}

/* Left - md
========================================================================== */

.-dl0md {
    & > * {
        & + * {
            @include respond-below(md) {
                margin-left: 0;
            }
        }
    }
}

/* Left - sm 
========================================================================== */

.-dl8sm {
    & > * {
        & + * {
            @include respond-below(sm) {
                margin-left: 8px;
            }
        }
    }
}
.-dl40sm {
    & > * {
        & + * {
            @include respond-below(sm) {
                margin-left: 40px;
            }
        }
    }
}

/* Top
========================================================================== */

.-dt8 {
    & > * {
        & + * {
            margin-top: 8px;
        }
    }
}

.-dt10 {
    & > * {
        & + * {
            margin-top: 10px;
        }
    }
}
.-dt12 {
    & > * {
        & + * {
            margin-top: 12px;
        }
    }
}
.-dt16 {
    & > * {
        & + * {
            margin-top: 16px;
        }
    }
}
.-dt20 {
    & > * {
        & + * {
            margin-top: 20px;
        }
    }
}
.-dt24 {
    & > * {
        & + * {
            margin-top: 24px;
        }
    }
}
.-dt25 {
    & > * {
        & + * {
            margin-top: 25px;
        }
    }
}
.-dt30 {
    & > * {
        & + * {
            margin-top: 30px;
        }
    }
}
.-dt40 {
    & > * {
        & + * {
            margin-top: 40px;
        }
    }
}

/* Top - md
========================================================================== */

.-dt40md {
    & > * {
        & + * {
            @include respond-below(md) {
                margin-top: 40px;
                margin-left: 0;
            }
        }
    }
}
.-dt24md {
    & > * {
        & + * {
            @include respond-below(md) {
                margin-top: 24px;
                margin-left: 0;
            }
        }
    }
}
.-dt18md {
    & > * {
        & + * {
            @include respond-below(md) {
                margin-top: 18px;
                margin-left: 0;
            }
        }
    }
}

/* Top - sm
========================================================================== */

.-dt60sm {
    & > * {
        & + * {
            @include respond-below(sm) {
                margin-top: 60px;
                margin-left: 0;
            }
        }
    }
}

.-dt32sm {
    & > * {
        & + * {
            @include respond-below(sm) {
                margin-top: 32px;
                margin-left: 0;
            }
        }
    }
}

.-dt24sm {
    & > * {
        & + * {
            @include respond-below(sm) {
                margin-top: 24px;
                margin-left: 0;
            }
        }
    }
}

.-dt28sm {
    & > * {
        & + * {
            @include respond-below(sm) {
                margin-top: 28px;
                margin-left: 0;
            }
        }
    }
}

/* Bottom
========================================================================== */

.-db16 {
    & > * {
        & + * {
            margin-bottom: 16px;
        }
    }
}

/* Left - Right
========================================================================== */

.-d12 {
    margin-right: -6px;
    margin-left: -6px;

    & > * {
        padding-right: 6px;
        padding-left: 6px;
    }
}

/* Left - Right - sm
========================================================================== */

.-d12sm {
    @include respond-below(sm) {
        margin-right: -6px;
        margin-left: -6px;
    }

    & > * {
        @include respond-below(sm) {
            padding-right: 6px;
            padding-left: 6px;
        }
    }
}
